html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#libraryContent {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.form-input {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: .5rem;
}

td, th {
	text-align: left;
	border: 1px solid #999;
	padding: 0.5rem;
	border-spacing: 0.5rem;
	border-collapse: collapse;
}